{% include 'head.html' %}
<body>
      <!-- Navigation -->
      {% include 'nav.html' %}
      <!-- Nav end -->
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Picepik</h1>
                        <h3>The goto portal for your digital art needs</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/picepik" class="btn btn-info btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://facebook.com/picepik" class="btn btn-primary btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container animated" id='container-1'>
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Like our works?<br>Add 'em to Cart'</h2>
                    <p class="lead">We try to display quality <a target="_blank" href="/portfolio">Digital Arts</a> which you can use for invitation cards, and your products.<br>
                    <a target="_blank" class="btn btn-warning" href="/portfolio">PORTFOLIO </a>
                  </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6 animated">
                    <img class="img-responsive" src="{{ url_for('static',filename='img/ipad.png') }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container animated" id='container-2'>

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Commissioned works!<br>Perhaps all you need to do is call!</h2>
                    <p class="lead text-muted">Turn your design ideas into high quality, printable/printed covers, cards, letters for your loved ones.<br> Tell us <i class="fa fa-wrench text-success"> How</i> and <i class="fa fa-calendar text-success"> When</i> you want it, and we will get it all sorted out for you!</p>
                    <a target="_blank" class="btn btn-warning" href="tel:#"><i class="fa fa-phone"></i> CALL</a>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6 animated">
                    <img class="img-responsive" src="{{ url_for('static',filename='img/dog.png') }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container animated" id='container-3'>

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
                    <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6 animated">
                    <img class="img-responsive" src="{{ url_for('static',filename='img/phones.png') }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container animated" id='container-4'>

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect with us, and we will be happy to help you!</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="/contact" class="btn btn-danger btn-lg"><i class="fa fa-question-circle-o fa-fw"></i> <span class="network-name">Contact</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    {% include 'footer.html' %}
